.target-container {
    height: 27em;
    padding: 1em 0 0 1em;
    border-radius: 1em;
    white-space: nowrap;
}

.target-container .target-wrapper {
    position: relative;
    display: inline-block;
}
