.target {
    height: 25em;
    width: 25em;
    margin-right: 1em;
    background: lightgray;
    border-radius: 1em;
    position: relative;
    display: inline-block;
}

.target > div {
    top: -0.5em;
    left: -0.5em;
    position: absolute;
}