.board {

}

.board .north {

    width: 100%;
    margin-bottom: 1em;
}

.board .inline-wrapper {

    white-space: nowrap;
    margin-bottom: 1em;
}

.board .west {

    display: inline-block;
}

.board .center {

    width: 194em;
    display: inline-block;
}

.board .center .player-area {

    height: 40em;
    padding: 1em;
    white-space: nowrap;
}

.board .center .player-area.player-area-remote {

    margin-bottom: 1em;
}

.board .center .player-area .graveyard-area {

    display: inline-block;
}

.board .center .player-area .deck-area {

    display: inline-block;
}

.board .center .player-area .hand-area {

    margin-left: 1em;
    display: inline-block;
}

.board .center .play-area {

    padding: 1em;
    margin-bottom: 1em;
}

.board .center .play-area .remote-summoning-area {

    margin-bottom: 1em;
}

.board .center:after {

    content:" ";
    clear:both;
    display:block;
    height:0;
    overflow:hidden
}

.board .east {

    display: inline-block;
}

.board .south {

}