.font-size-small {
    height: 100%;
    width: 100%;
    font-size: 1.3em;
}

.font-size-medium {
    height: 100%;
    width: 100%;
    font-size: 1.6em;
}

.font-size-large {
    height: 100%;
    width: 100%;
    font-size: 1.8em;
}

.font-size-extra-large {
    height: 100%;
    width: 100%;
    font-size: 2.4em;
}

.border-large {
    border: 0.5em solid black;
}

.border-small {
    border: 0.2em solid black;
}

.border-radius {
    border-radius: 1em;
}

.font-border {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}

.center-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
