.card {
    height: 42em;
    width: 25em;
    background: lightgray;
}

.card .head-wrapper {
    height: 5em;
    width: 100%;
    position: relative;
}

.card .head-wrapper .name {
    height: 4em;
    width: 18.3em;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0.5em;
    left: 0.7em;
}

.card .head-wrapper .cost {
    height: 3.6em;
    width: 3.6em;
    border-radius: 1em;
    background: antiquewhite;
    position: absolute;
    top: 0.5em;
    right: 1.5em;
}

.card .image-wrapper {
    height: 16.1em;
    width: 23.6em;
    margin: 0 0.5em 0.5em 0.5em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card .image-wrapper .image {
    height: 100%;
    width: 100%;
}

.card .type {
    height: 2.5em;
    width: 23.6em;
    margin-left: 0.7em;
    margin-right: 0.7em;
}

.card .text-wrapper {
    height: 14.5em;
    width: 23.6em;
    margin: 0 0.5em 0 0.5em;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    position: relative;
}

.card .text-wrapper .text {
    width: 10.5em;
    margin: 0.5em;
}

.card .text-wrapper .lore {
    width: 10.5em;
    margin: 0.5em;
    font-style: italic;
    position: absolute;
    bottom: 0;
}

.card .foot-wrapper {
    height: 3em;
    width: 100%;
    position: relative;
}

.card .foot-wrapper .strength {
    height: 2.6em;
    width: 2.6em;
    border-radius: 1em;
    position: absolute;
    bottom: 1em;
    right: 5em;
    background: antiquewhite;
}

.card .foot-wrapper .health {
    height: 2.6em;
    width: 2.6em;
    border-radius: 1em;
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    background: antiquewhite;
}


