.value-meter{
    --filling-green: rgb(57,130,53);
    --filling-silver: rgb(210,210,210);
    --filling-violet: rgb(235,233,249);
    --filling-red: rgb(169,3,41);
    height: 20em;
    width: 5em;
    background: gray;
    position: relative;
}

.value-meter .value-meter-filling {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.value-meter .value-meter-filling-green {
    background: var(--filling-green);
}

.value-meter .value-meter-filling-silver {
    background: var(--filling-silver);
}

.value-meter .value-meter-filling-violet {
    background: var(--filling-violet);
}

.value-meter .value-meter-filling-red {
    background: var(--filling-red);
}
