.card-container {
    height: 420px;
    width: 1360px;
    padding: 10px 0 10px 10px;
}

.card-container .card-placeholder {
    height: 400px;
    width: 250px;
    float: left;
    margin-right: 10px;
    background: lightgray;
    border: 5px solid black;
    border-radius: 10px;
}